* {
	margin: 0px;
	font-family: "Old Standard TT", Garamond, serif;

}

a {
	color: inherit;
	text-decoration: inherit;

}

button {
    display: inline-block;
    border: none;
    padding: none;
    margin: 0;
    text-decoration: none;
    background: rgba(255,255,255,0.0);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-align: inherit;
    transition: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
}

button:hover,
button:focus {
    background: rgba(255,255,255,0.0);
}

button:focus {
    outline: inherit;
    outline-offset: none;
}

button:active {
    transform: none;
}


.header {
	position: inherit;
	width: 100%;
	position: fixed;
	height: 170px;

}

.titlecontainer {
	background-image: linear-gradient(#223f40, #254e58);

	align-content: center;
	width: 100%;
	height: 100px;

}

.title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #d1e1d1;

}

.TOC {
	background-color: #254e58;
	width: 100%;
	border-collapse: collapse;
	height: 70px;

}

.TOClink {
	width: 100%;
	height: 100%;

}

.TOCitem {
	width: 25%;
	text-align: center;
	color: #d1e1d1;
	padding: 20px;
	border-right: 2px solid #d1e1d1;
	border-left: 2px solid #d1e1d1;
	border-bottom: 2px solid #d1e1d1;
	margin-bottom: 10px;
	font-size: 18px;
	text-decoration: none;
}

.TOCitem:hover {
	background-image: linear-gradient(rgba(37, 78, 88), rgba(50, 101, 116, .5));

}

#TOC0 {
	font-size: 22px;
	font-weight: bold;

}